<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>TRACKING_ID</key>
	<string>UA-105722820-1</string>
	<key>CLIENT_ID</key>
	<string>819312940336-9sfeum44hfmpbqsp8befpnuvo00ccvlu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819312940336-9sfeum44hfmpbqsp8befpnuvo00ccvlu</string>
	<key>API_KEY</key>
	<string>AIzaSyDGp9yyPmgLljrMyPWAXw1UT6gNJlU1c28</string>
	<key>GCM_SENDER_ID</key>
	<string>819312940336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.katika</string>
	<key>PROJECT_ID</key>
	<string>katika-e0395</string>
	<key>STORAGE_BUCKET</key>
	<string>katika-e0395.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:819312940336:ios:b3ff8b0f4fa1e5c9</string>
	<key>DATABASE_URL</key>
	<string>https://katika-e0395.firebaseio.com</string>
</dict>
</plist>
